.completed-item-row {
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    width: 90%;
    
    padding: 0px;
    margin: 5px auto;
    background-color: aliceblue;
}

.urgent-icon{
    background-color: red;
    color: white;
    margin: auto;
    width: 100%;
}

.completed-item-row button{
    margin: 2px 5px;
    cursor: pointer;
}